.mais-visitados {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 40px;
}

.ferias {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 40px;
}

.seta-esquerda-1 {
    font-size: 30px;
    color: #1100FF;
    margin-right: 20px;
    cursor: pointer;
}

.seta-esquerda-2 {
    font-size: 30px;
    color: #108d41;
    margin-right: 20px;
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    cursor: pointer;
}

.card-mais-visitados {
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 200px;
    transition-duration: .4s;
    display: none;
}

.card-ferias {
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 200px;
    transition-duration: .4s;
    display: none;
}

.active {
    display: block;
}

.card-mais-visitados:hover {
    transform: scale(1.07);
    background-color: #f7f5f5;
}

.card-ferias:hover {
    transform: scale(1.07);
    background-color: #f7f5f5;
}

.topCard {
    padding: 20px;
    padding-top: 10px;
    height: 110px;
    text-align: center;
}

.title-mais-visitados {
    color: #1100FF;
    font-size: 18px;
    margin-bottom: 15px;
}

.title-card-ferias {
    color: #108d41;
    font-size: 18px;
    margin-bottom: 15px;
}

.secondText {
    font-size: 12px;
    color: #828fa1;
}

.tamanho-img {
    height: 150px;
    width: 100%;
}

.divisoria-mais-visitados {
    width: 100%;
    height: 6px;
    background-color: #1100FF;
    margin-bottom: 5px;
}

.divisoria-ferias {
    width: 100%;
    height: 6px;
    background-color: #108d41;
    margin-bottom: 5px;
}

.bottomCard {
    padding: 10px;
    padding-top: 0px;
    display: flex;
}

.bottomText {
    font-size: 7px;
    color: #445b73;
    text-align: left;
    padding: 2px;
}

.info-preco {
    font-size: 10px;
    color: #445b73;
    text-align: right;
}

.preco {
    font-weight: bold;
    color: black;
}

.preco-valor {
    font-weight: bold;
    font-size: 22px;
    color: black;
}

.preco-a-vista {
    font-size: 8px;
}

.actionsCard {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.pacote-mais-visitados {
    background: none;
    border: none;
    color: #1100FF;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.pacote-ferias {
    background: none;
    border: none;
    color: #108d41;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.adulto {
    font-weight: bold;
    font-size: 10px;
}

.seta-direita-1 {
    font-size: 30px;
    color: #1100FF;
    margin-left: 25px;
    cursor: pointer;
}

.seta-direita-2 {
    font-size: 30px;
    color: #108d41;
    margin-left: 25px;
    cursor: pointer;
}

.ferias {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (min-width:425px) {
    .mais-visitados {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 40px;
        overflow: hidden;
    }
    .ferias {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 40px;
        overflow: hidden;
    }
    .card-mais-visitados {
        background-color: #f9f9f9;
        border-radius: 10px;
        width: 250px;
        transition-duration: .4s;
        display: none;
    }
    .card-ferias {
        background-color: #f9f9f9;
        border-radius: 10px;
        width: 250px;
        transition-duration: .4s;
        display: none;
    }
    .active {
        display: block;
    }
    .title-mais-visitados {
        color: #1100FF;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .title-card-ferias {
        color: #108d41;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .secondText {
        font-size: 14px;
        color: #828fa1;
    }
    .tamanho-img {
        height: 200px;
        width: 100%;
    }
    .divisoria-mais-visitados {
        width: 100%;
        height: 8px;
        background-color: #1100FF;
        margin-bottom: 5px;
    }
    .divisoria-ferias {
        width: 100%;
        height: 8px;
        background-color: #108d41;
        margin-bottom: 5px;
    }
    .bottomCard {
        padding: 15px;
        padding-top: 0px;
        display: flex;
        justify-content: space-between;
    }
    .bottomText {
        font-size: 10px;
        color: #445b73;
        text-align: left;
        padding: 4px;
    }
    .info-preco {
        font-size: 12px;
        color: #445b73;
        text-align: right;
    }
    .preco {
        font-weight: bold;
        color: black;
    }
    .preco-valor {
        font-weight: bold;
        font-size: 26px;
        color: black;
    }
    .preco-a-vista {
        font-size: 9px;
    }
    .actionsCard {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .pacote-mais-visitados {
        background: none;
        border: none;
        color: #1100FF;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
    }
    .pacote-ferias {
        background: none;
        border: none;
        color: #108d41;
        ;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
    }
    .adulto {
        font-weight: bold;
        font-size: 12px;
    }
}

@media screen and (min-width:768px) {
    .cards {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
    }
}

@media screen and (min-width:1024px) {
    .mais-visitados {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 80px;
        overflow: hidden;
    }
    .ferias {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 80px;
        overflow: hidden;
    }
    .cards {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
    }
    .card-mais-visitados {
        background-color: #f9f9f9;
        border-radius: 10px;
        width: 350px;
        transition-duration: .4s;
        display: none;
    }
    .card-ferias {
        background-color: #f9f9f9;
        border-radius: 10px;
        width: 350px;
        transition-duration: .4s;
        display: none;
    }
    .active {
        display: block;
    }
    .topCard {
        padding: 20px;
        height: 130px;
        text-align: center;
    }
    .title-mais-visitados {
        color: #1100FF;
        margin-bottom: 15px;
    }
    .title-card-ferias {
        color: #108d41;
        margin-bottom: 15px;
    }
    .secondText {
        font-size: 16px;
        color: #828fa1;
    }
    .tamanho-img {
        height: 300px;
        width: 100%;
    }
    .divisoria-mais-visitados {
        width: 100%;
        height: 8px;
        background-color: #1100FF;
        margin-bottom: 5px;
    }
    .divisoria-ferias {
        width: 100%;
        height: 8px;
        background-color: #108d41;
        margin-bottom: 5px;
    }
    .bottomCard {
        padding: 20px;
        padding-top: 0px;
        display: flex;
        justify-content: space-between;
    }
    .bottomText {
        font-size: 12px;
        color: #445b73;
        padding: 4px;
    }
    .info-preco {
        font-size: 12px;
        color: #445b73;
    }
    .preco {
        font-weight: bold;
        color: black;
    }
    .preco-valor {
        font-weight: bold;
        font-size: 32px;
        color: black;
    }
    .preco-a-vista {
        font-size: 12px;
    }
    .actionsCard {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    .pacote-mais-visitados {
        background: none;
        border: none;
        color: #1100FF;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
    .pacote-ferias {
        background: none;
        border: none;
        color: #108d41;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
    .adulto {
        font-weight: bold;
        font-size: 16px;
    }
}

@media screen and (min-width:1440px) {
    .mais-visitados {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 80px;
        overflow: hidden;
    }
    .ferias {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 80px;
        overflow: hidden;
    }
    .cards {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
    }
    .card-mais-visitados {
        background-color: #f9f9f9;
        border-radius: 10px;
        width: 350px;
        transition-duration: .4s;
        display: none;
    }
    .card-ferias {
        background-color: #f9f9f9;
        border-radius: 10px;
        width: 350px;
        transition-duration: .4s;
        display: none;
    }
    .active {
        display: block;
    }
    .topCard {
        padding: 20px;
        height: 130px;
        text-align: center;
    }
    .title-mais-visitados {
        color: #1100FF;
        margin-bottom: 15px;
    }
    .title-card-ferias {
        color: #108d41;
        margin-bottom: 15px;
    }
    .secondText {
        font-size: 16px;
        color: #828fa1;
    }
    .tamanho-img {
        height: 300px;
        width: 100%;
    }
    .divisoria-mais-visitados {
        width: 100%;
        height: 8px;
        background-color: #1100FF;
        margin-bottom: 5px;
    }
    .divisoria-ferias {
        width: 100%;
        height: 8px;
        background-color: #108d41;
        margin-bottom: 5px;
    }
    .bottomCard {
        padding: 20px;
        padding-top: 0px;
        display: flex;
        justify-content: space-between;
    }
    .bottomText {
        font-size: 12px;
        color: #445b73;
        padding: 4px;
    }
    .info-preco {
        font-size: 12px;
        color: #445b73;
    }
    .preco {
        font-weight: bold;
        color: black;
    }
    .preco-valor {
        font-weight: bold;
        font-size: 32px;
        color: black;
    }
    .preco-a-vista {
        font-size: 12px;
    }
    .actionsCard {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    .pacote-mais-visitados {
        background: none;
        border: none;
        color: #1100FF;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
    .pacote-ferias {
        background: none;
        border: none;
        color: #108d41;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
    .adulto {
        font-weight: bold;
        font-size: 16px;
    }
}

@media screen and (min-width:1700px) {
    .mais-visitados {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 80px;
        overflow: hidden;
    }
    .ferias {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 80px;
        overflow: hidden;
    }
    .seta-esquerda-1 {
        font-size: 30px;
        color: #1100FF;
        margin-left: 200px;
        cursor: pointer;
    }
    .seta-esquerda-2 {
        font-size: 30px;
        color: #108d41;
        margin-left: 200px;
        cursor: pointer;
    }
    .cards {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
    }
    .seta-direita-1 {
        font-size: 30px;
        color: #1100FF;
        margin-right: 200px;
        cursor: pointer;
    }
    .seta-direita-2 {
        font-size: 30px;
        color: #108d41;
        margin-right: 200px;
        cursor: pointer;
    }
}

@media screen and (min-width:2560px) {
    .mais-visitados {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding-top: 80px;
        overflow: hidden;
    }
    .ferias {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding-top: 80px;
        overflow: hidden;
    }
    .cards {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
    }
    .card-mais-visitados {
        background-color: #f9f9f9;
        border-radius: 10px;
        width: 450px;
        transition-duration: .4s;
        display: none;
    }
    .card-ferias {
        background-color: #f9f9f9;
        border-radius: 10px;
        width: 450px;
        transition-duration: .4s;
        display: none;
    }
    .active {
        display: block;
    }
    .topCard {
        padding: 20px;
        height: 180px;
        text-align: center;
    }
    .title-mais-visitados {
        color: #1100FF;
        font-size: 32px;
        margin-bottom: 15px;
    }
    .title-card-ferias {
        color: #108d41;
        font-size: 32px;
        margin-bottom: 15px;
    }
    .secondText {
        font-size: 20px;
        color: #828fa1;
    }
    .tamanho-img {
        height: 400px;
        width: 100%;
    }
    .divisoria-mais-visitados {
        width: 100%;
        height: 10px;
        background-color: #1100FF;
        margin-bottom: 5px;
    }
    .bottomCard {
        padding: 40px;
        padding-top: 0px;
        display: flex;
        justify-content: space-between;
    }
    .bottomText {
        font-size: 16px;
        color: #445b73;
        padding: 4px;
    }
    .info-preco {
        font-size: 18px;
        color: #445b73;
    }
    .preco {
        font-weight: bold;
        color: black;
    }
    .preco-valor {
        font-weight: bold;
        font-size: 48px;
        color: black;
    }
    .preco-a-vista {
        font-size: 16px;
    }
    .actionsCard {
        padding: 40px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;
    }
    .pacote-mais-visitados {
        background: none;
        border: none;
        color: #1100FF;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    .pacote-ferias {
        background: none;
        border: none;
        color: #108d41;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    .adulto {
        font-weight: bold;
        font-size: 20px;
    }
}