@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap');

@import url("header.css");
@import url("main.css");
@import url("cards.css");
@import url("cards-img.css");
@import url("footer.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
